<div class="addOns">
    <form action="#" class="d-flex flex-column justify-content-between h-100" [formGroup]="thirdForm"
        (ngSubmit)="onSubmit()">
        <div class="stepMiddleContentMobile">
            <div class="stepRightTopContent mb-4">
                <h2 class="stepsHeadingName">Pick add-ons</h2>
                <p class="stepsSubHeading">Add-ons help enhance your gaming experience.</p>
            </div>
            <div class="stepsRightInnerContent">
                <div class="form-check addsOnsCards ">
                    <input name="onlineServiceCheck" class="form-check-input ms-0" formControlName="add" type="checkbox"
                        id="onlineServiceCheck" value="">
                    <label class="form-check-label" for="onlineServiceCheck">
                        <div class="addOnsCardContent">
                            <p class="addOnsCardsHeading mb-0">Online service</p>
                            <p class="addOnsCardsSubHeading mb-0">Access to multiplayer games</p>
                        </div>
                        <div class="addOnsCardPrice">
                            <p class="mb-0">+${{labels[0]}}/mo</p>
                        </div>
                    </label>
                </div>
                <div class="form-check addsOnsCards ">
                    <input name="largerStorageCheck" class="form-check-input ms-0" formControlName="add" type="checkbox"
                        id="largerStorageCheck" value="">
                    <label class="form-check-label" for="largerStorageCheck">
                        <div class="addOnsCardContent">
                            <p class="addOnsCardsHeading mb-0">Larger storage</p>
                            <p class="addOnsCardsSubHeading mb-0">Extra 1TB of cloud save</p>
                        </div>
                        <div class="addOnsCardPrice">
                            <p class="mb-0">+${{labels[1]}}/mo</p>
                        </div>
                    </label>
                </div>
                <div class="form-check addsOnsCards ">
                    <input name="customizableProfileCheck" formControlName="add" class="form-check-input ms-0"
                        type="checkbox" id="customizableProfileCheck" value="">
                    <label class="form-check-label" for="customizableProfileCheck">
                        <div class="addOnsCardContent">
                            <p class="addOnsCardsHeading mb-0">Customizable profile</p>
                            <p class="addOnsCardsSubHeading mb-0">Custom theme on your profile</p>
                        </div>
                        <div class="addOnsCardPrice">
                            <p class="mb-0">+${{labels[2]}}/mo</p>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="stepsRightBottomContent mt-5"><a class="btn border-0 text-black-50 fw-bold" href="/select-plans">Go
                Back</a><button type="submit" class="btn btn-primary">Next Step</button></div>
    </form>
</div>