<div class="side-nav">
    <div class="nav-bar stepLeftContent">
        <ul>
            <li class="row">
                <div class="col-3">
                    <a class="stepsNumberIcon"  routerLink="/your-info" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">1</a>
                </div>
                <div class="col-8">
                    <div class="stepsNumber">STEP 1</div>
                    <div class="stepsName">YOUR INFO</div>
                </div>
            </li>
            <li class="row">
                <div class="col-3">
                    <a class="stepsNumberIcon"  routerLink="/select-plan" routerLinkActive="active">2</a>
                </div>
                <div class="col-8">
                    <div class="stepsNumber">STEP 2</div>
                    <div class="stepsName">SELECT PLAN</div>
                </div>
            </li>
            <li class="row">
                <div class="col-3">
                    <a class="stepsNumberIcon" routerLink="/add-ons" routerLinkActive="active">3</a>
                </div>
                <div class="col-8">
                    <div class="stepsNumber">STEP 3</div>
                    <div class="stepsName">ADD-ONS</div>
                </div>
            </li>
            <li class="row">
                <div class="col-3">
                    <a class="stepsNumberIcon" routerLink="/summary" routerLinkActive="active">4</a>
                </div>
                <div class="col-8">
                    <div class="stepsNumber">STEP 4</div>
                    <div class="stepsName">SUMMARY</div>
                </div>
            </li>
        </ul>
    </div>
</div>