<div class="side-nav">
    <div class="nav-bar stepLeftContent">
        <ul>
            <li class="row">
                <div class="col-3">
                    <div class="stepsNumberIcon active">1</div>
                </div>
                <div class="col-8">
                    <div class="stepsNumber">STEP 1</div>
                    <div class="stepsName">YOUR INFO</div>
                </div>
            </li>
            <li class="row">
                <div class="col-3">
                    <div class="stepsNumberIcon">2</div>
                </div>
                <div class="col-8">
                    <div class="stepsNumber">STEP 2</div>
                    <div class="stepsName">SELECT PLAN</div>
                </div>
            </li>
            <li class="row">
                <div class="col-3">
                    <div class="stepsNumberIcon">3</div>
                </div>
                <div class="col-8">
                    <div class="stepsNumber">STEP 3</div>
                    <div class="stepsName">ADD-ONS</div>
                </div>
            </li>
            <li class="row">
                <div class="col-3">
                    <div class="stepsNumberIcon">4</div>
                </div>
                <div class="col-8">
                    <div class="stepsNumber">STEP 4</div>
                    <div class="stepsName">SUMMARY</div>
                </div>
            </li>
        </ul>
    </div>
</div>