<div class="side-nav">
    <div class="nav-bar">
        <ul>
            <li>
                <div class="d-flex row">
                    <p class="steps-num">1</p>
                    <div class="step">
                        <p class="step-num">Step 1</p>
                        <div class="step-head">Your Info</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex row">
                    <p class="steps-num">2</p>
                    <div class="step">
                        <p class="step-num">Step 2</p>
                        <div class="step-head">Select Plan</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex row">
                    <p class="steps-num">3</p>
                    <div class="step">
                        <p class="step-num">Step 3</p>
                        <div class="step-head">Add-Ons</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="d-flex row">
                    <p class="steps-num">4</p>
                    <div class="step">
                        <p class="step-num">Step 4</p>
                        <div class="step-head">Summury</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>