<div class="thankYou">
    <form class="d-flex flex-column justify-content-center h-100">
        <div class="stepMiddleContentMobile"><img
                src="../../../../assets/images/icon-thank-you.svg" class="mb-3" alt="">
            <h2 class="stepsHeadingName txtDark">Thank you!</h2>
            <p class="text-body-tertiary fw-semibold px-4">Thanks for confirming your subscription! We hope you have fun
                using our platform. If you ever need support, please feel free to email us at support&#64;loremgaming.com.
            </p>
        </div>
    </form>
</div>