<div class="finishingUp">
    <form class="d-flex flex-column justify-content-between h-100">
        <div class="stepMiddleContentMobile">
            <div class="stepRightTopContent mb-4">
                <h2 class="stepsHeadingName">Finishing Up</h2>
                <p class="stepsSubHeading">Double-check everything looks OK before confirming.</p>
            </div>
            <div class="stepsRightInnerContent">
                <div class="summaryContent">
                    <div class="summaryContentRow border-bottom">
                        <div class="summaryContentLeft">
                            <h5 class="fs-6 fw-bold txtDark">Arcade (Monthly)</h5>
                            <p class="text-decoration-underline"><a class="" href="/selectyourplan">Change</a></p>
                        </div>
                        <div class="summaryContentRight">
                            <h5 class="fs-6 fw-bold txtDark">$9/mo</h5>
                        </div>
                    </div>
                    <div class="summaryContentRow mt-3">
                        <div class="summaryContentLeft">
                            <p class="mb-0">Online service</p>
                        </div>
                        <div class="summaryContentRight">
                            <h5 class="fs-7">+$1/mo</h5>
                        </div>
                    </div>
                </div>
                <div class="summaryContentRow mt-3 px-4">
                    <div class="summaryContentLeft">
                        <p class="mb-0">Total (per year)</p>
                    </div>
                    <div class="summaryContentRight">
                        <h5 class="fw-bold txtPurple mb-0">$10/mo</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="stepsRightBottomContent mt-5"><a class="btn border-0 text-black-50 fw-bold" href="/pickAddOns">Go
                Back</a><button class="btn btn-primary">Confirm</button></div>
    </form>
</div>