/* You can add global styles to this file, and also import other style files */
@font-face {
    src: url('./assets/fonts/Ubuntu-Regular.ttf');
    font-family: Ubuntu;
}

* {
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
    margin: 0;
    padding: 0;
}


body {
    font-family: Ubuntu;
    // letter-spacing: 1px;
    background-color: #eef5ff !important;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.stepsContent {
    background-color: #fff;
    border-radius: 18px;
    width: 1000px;
}

.stepsRightContent {
    padding: 40px 60px !important;
}

.stepsRightBottomContent {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.btn-primary {
    background-color: #03295a !important;
    border-color: #03295a !important;
}
.txtDark {
    color: #03295a;
}
.fs-7 {
    font-size: .9rem;
}
.txtPurple {
    color: #483eff;
}

@media (max-width: 768.5px) {

    .container-md {
        align-items: normal;
    }

    .stepsContent {
        background-color: initial;
        box-shadow: none !important;
    }

    .stepsContent>.col-md-4 {
        height: 25%;
    }

    .stepsRightContent {
        height: 75%;
        padding: 0!important;
    }
    .stepMiddleContentMobile {
        background-color: #fff;
        border-radius: 20px 15px;
        margin: 0 20px;
        padding: 20px;
        position: absolute;
        top: -80px;
    }

    .stepsRightBottomContent {
        background-color: #fff;
        padding: 20px;
        width: 100%;
    }
    .stepsRightContent form {
        align-items: center;
        justify-content: flex-end !important;
        position: relative;
    }
}